        /*------------
            universal and
              utilities
        ---------------*/
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    padding:0 10%;
}

        /*------------
            navbar
        ---------------*/
header{
    background-color: #2D25A0;
}

#navbar{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.nav-link a{
    margin-right: 36px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
}

        /*------------
            Showcase
        ---------------*/
#showcase{
    padding-top: 10px;
    padding-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.showcase-box{
    width: 45%;
}

.showcase-text h1{
    font-size: 64px;
    color: #FFFFFF;
    padding-top: 80px;
    margin-bottom: 35px;
    line-height: 80px;
}

.button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 25px;
    font-size: 16px;
}

.showcase-box img{
    width: 100%;
    padding-top: 50px;
}

        /*------------
            players
        ---------------*/

#players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 70px;
}

.player-box{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-box h2{
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
    color: #18191F;
}

.player-box p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #6C6C6C;
    ;
}

.player-box img{
    width: 100%;
}

        /*------------
            highlights
        ---------------*/

#highlights{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    margin-top: 165px;
    margin-bottom: 160px;
}

.highlights-text{
    margin-top: 50px;
}

.highlights-text h1{
    font-size: 40px;
    color: #0A0826;
    line-height: 60px;
}

.highlights-text p{
    padding-top: 20px;
    font-size: 13px;
    color: #6C6C6C;
    margin-bottom: 30px;
}

.highlights-video iframe{
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

        /*------------
            news
        ---------------*/

#news h2{
    font-size: 40px;
    color: #0A0826;
    margin-bottom: 20px;
}
#blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.news-box{
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.news-box img{
    width: 100%;
    border-radius: 20px;
}

.news-text{
    padding: 15px;
}

.news-text h3{
    font-size: 20px;
    color: #0A0826;
}

.news-text p{
    margin-top: 10px;
    font-size: 13px;
    color: #6C6C6C;
}

.news-icon{
    padding: 0 15px 15px;
    display: flex;
    justify-content: space-between;
}

.news-icon a{
    color: #6C6C6C;
    font-size: 20px;
}

        /*------------
            sponsor
        ---------------*/

#sponsors{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
}

#sponsors h2{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: #0A0826;
}

#sponsor{
    display: flex;
    justify-content: space-between;
}

#sponsor img{
    width: 100%;
    opacity: 0.7;
}

#sponsor img:hover{
    opacity: 1;
}


        /*------------
            footer
        ---------------*/

footer{
    padding-bottom: 30px;
}

.footer-box{
    margin: 10px auto 0 auto;
    width: 30%;
    text-align: center;
}

#footer-image img{
    width: 100%;
    margin-bottom: 10px;
}

.footer-box i{
    width: 32px;
    height: 32px;
    background: hsla(230, 35%, 7%,0.1);
    padding: 7px;
    margin: 7px;
    border-radius: 16px;
    color: #969BAB;
    font-size: 17px;
    text-align: center;
}

.footer-box p{
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}


@media only screen and (max-width: 992px)
{
    #navbar{
        visibility: hidden;
    }

    #showcase{
        flex-direction: column;
        align-items: center;
    }

    .showcase-box{
        width: 80%;
    }

    .showcase-image{
        width: 100%;
    }

    #players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #highlights{
        grid-template-columns: 1fr;
        align-items: center;
    }

    .highlights-video{
        margin-top: 30px;
        height: 340px;
        width: 100%;
    }

    #blogs{
        grid-template-columns: 1fr;
        align-items: center;
    }

    .footer-box p{
        font-size: 15px;
    }

}

@media only screen and (max-width: 668px)
{
    .container{
        padding: 0 5%;
    }

    #navbar{
        visibility: hidden;
    }

    #showcase{
        flex-direction: column;
    }

    .showcase-box{
        width: 100%;
        margin-top: 50px;
    }

    .showcase-box h1{
        font-size: 36px;
        line-height: 50px;
    }

    .showcase-image img{
        margin-top: 50px;
        margin-bottom: 60px;
        width: 100%;
    }

    #players{
        margin-top: 45px;
        grid-template-columns: repeat(1, 1fr);
    }

    #highlights{
        margin-top: 60px;
        grid-template-columns: 1fr;
        align-items: center;
    }

    #highlights h1{
        font-size: 30px;
        line-height: 40px;
    }

    .highlights-video{
        margin-top: 30px;
        height: 340px;
        width: 100%;
    }

    #news{
        margin-top: -60px;
    }

    #news h2{
        font-size: 30px;
    }

    .news-icon a{
        font-size: 10px;
    }

    #blogs{
        grid-template-columns: 1fr;
        align-items: center;
    }

    #sponsors{
        width: 90%;
        margin: 30px auto;
    }

    #sponsors h2{
        font-size: 30px;
    }

    .footer-box{
        width: 75git %;
    }

    .footer-box i{
        font-size: 18px;
        padding: 6px;
        margin: 7px;
    }
    .footer-box p{
        font-size: 15px;
    }
}